

/*VARIABLES*/

$altoNav: 120px;
$altoMinNav:14vh;
$logo: 0.6;
$anchoMaxMovil: 100vw;
$image-size: 250px;
$gap-size: 0.3rem;
$num-columns: 6;
$espacio-letra: 1.7pt;
$fondo-texto: rgba(245, 245, 245, 0.7);


/* COMIENZO */

body{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: $espacio-letra; 
    height:100%;   
  }

  /*404*/

.error-page{

  background-color: black;
  height:100vh;
}
.error-txt {

  position:absolute;
  color: whitesmoke;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.8);
  
  text-align:center;
  
  h2 {margin-top:60px;
    font-size: 1.2em;
  }

  a
    {
      text-decoration:none;
      color: yellow;
  
      &:hover{
  
        color: gray;
        text-decoration:none;
    }
  }

  @media (max-width:575.98px){
   
   font-size:0.6em;
}

}
#topbar{
 
    height: $altoNav;
  
    
}

#topbar-movil{

    display:none;
}


.logo {
    transform:scale($logo);
}

.nav {
 display: flex;
 align-content:center;
 padding:0;
 &__items{
  display:flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 0.85em;
  width:100%;
}}
  

.links-1{
    text-decoration:none;
    color:black;

    &:hover{

      color: gray;
      text-decoration:none;
  }
  }

.redes {
 
  display:flex;
  padding:0;
    
  &__items{
    display:flex;
    flex-direction:row;
    list-style-type: none; 
    align-items: center;
    justify-content: space-around;
    transform:scale(0.7);
    width:100%;
    padding:0;
  }}

.iconos-redes-foot{
 
  list-style-type: none;
  transform:scale(0.7);
}

.icono-1{
  opacity: 0.6;

  &:hover{

    opacity: 1;
    cursor: pointer;
  }
}

.dropdown-item {
  
  font-size: 0.75em;
  letter-spacing: 1.5pt;

  &:hover{
  
  letter-spacing: 1.5pt;
  background-color:gray;
  color: white;

}

@media (max-width: 767.98px)
{ font-size: 0.5em;}
}



#foot {
  position: fixed;;
  width:100%;
  height: 40px;
  bottom:0;
  background-color: white;
 opacity:0;
  transition:all 0.8s;
  

}

.footer{

  a {
    font-size:0.7em;
  }
  ul{
    margin:0;
    padding:0;
  }
  .chevron-movil{display:none;}

  @media (max-width:575.98px)
  {
    .chevron{
      display:none;
    }
    .chevron-movil{
      display:flex;
    }
  }
}




    /*INDEX*/
.cuerpoIndex-movil{
  display:none;
}

.form-ind{

  background-color:$fondo-texto;
  padding: 30px 0 30px 0;
}

.contact-txt-index{
  font-size: 1.1em;
  padding: 60px 0 30px 0;
}

.gal-index{
  

  h2{font-size: 1.1em;
    padding: 50px 0 50px 0;}
  h3{ position:absolute;
  color: rgba(245, 245, 245, 0.493);
font-weight: 300;

letter-spacing: $espacio-letra*2.5;
  background-color: rgba(0,0,0,0.2);

font-size: 1.2em;}

a :hover{
  opacity:0.7;
}
}
.formulario-index{
  
  & ::placeholder{

    font-size: 0.4rem;
    letter-spacing: $espacio-letra*1.3;
    color:black;
  }
}
/* NOSOTROS*/
.nosotros-index{

  h1{ font-size:1.1em;
  padding: 60px 0 50px 0;}
  .int-index{ background-color:$fondo-texto;
  padding: 20px 0 20px 0}
}

.nosotros-sup{

  height:50vh;
  display:flex;
  align-items:center;
  background-color: whitesmoke;
  @media (max-width: 575.98px)

  {height:40vh;}
}

.nosotros-title{
  align-self:center;
  h1{
    font-size:1.3em;
    text-align: center;
    align-self: center;
  }

}

.int-all{

  align-self:center;
}

.nos-txt{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top:2.5rem;
  p{max-width:50%;
    font-size: 0.9em;
    
  }
  @media (max-width: 575.98px)

  { p{ max-width:90%;} }

}


.quote{
  
  margin: 30px 0 30px 0;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
  text-align:right;
  max-width:50%;  
  color: gray;
  letter-spacing: $espacio-letra*0.7;
  border-left: solid 2px gray;
  background-color:$fondo-texto;
  p{
    max-width:80%;
    margin-right: 15px;
  }

  span{
    font-weight: bold;
    font-style: italic;
    color: black;
    letter-spacing: $espacio-letra*0.8;
    font-size: 1.3em;
  }

  @media (max-width: 575.98px)

  {max-width:90%;
  span{
    font-size: 1.1em;
  }
  }
}

.nos-bottom{

  display:flex;
  justify-content:center;
  margin-top: 30px;
  padding-bottom: 50px;
 
}

.img-int{

  max-width: 15%;
  margin: 0 10px 0 10px;
  display:flex;
  flex-direction:column;
  p{
    letter-spacing:$espacio-letra*0.6;
    text-align:center;
    font-size:0.7em;
  }
  @media (max-width: 575.98px)

  {max-width:25%;}
}




/* CONTACTO*/

.contacto-movil{

  display:none;
}


.cuerpoContacto{
  height:100vh;
  width: 100%;
  letter-spacing: 0pt;
 
}

.contactoIzq{
  
height:100vh;
overflow:hidden;
background-image:url('../img/back_contacto.jpg');
background-size:cover;
}


.formulario{
  display: flex;
  flex-direction:column;
  justify-content: center;
  

  & ::placeholder{

    font-size: 0.4rem;
    letter-spacing: $espacio-letra*1.3;
    color:black;
  }

  @media (max-width: 767.98px)
  {
    & ::placeholder{

      font-size:0.2rem;

    }
  }


  @media (max-width: 575.98px)
  {
    & ::placeholder{

      font-size:0.7rem;

    }
  }
}


.titulo-contacto{
  height: 10vh;
  font-weight: 100;
  text-align: center;

  
  & h3{
    font-size:1.2rem;
    font-weight:100;
  }
  & h1{
    font-size:1.2rem;
    font-weight:100;
  }

  @media (max-width: 767.98px){

    height: 6vh;
    & h3{

  font-size:0.9rem;
}

    & p{
      font-size:0.5rem;
    }

    .form-control{

      height: 1.1rem;
      font-size: 0.2em;
    }

  } 
  @media (max-width: 575.98px) {
    height: 12vh;
    background-color:$fondo-texto;
   
    h1{margin-top:10px;}

    
      
  }
    
}


.form-control{

  border-radius: 0;
  margin: 5px;
  opacity: 0.8;
}

.btn{

  border-radius:0;
  font-weight: 300;
  color:  #ced4da;
  font-size: 0.7em;

  &:hover{

    background-color: black;
    border-color: gray;
  }

  @media (max-width: 767.98px){

    font-size: 0.3em;
  }


}

.botones{

  margin-top: 10px;
}

.btn-primary{

  background-color: white;
  border: solid 0.5px black;
}

.direccion-local{

  margin-top: 15px;
  font-weight: 300;
  font-size: 12px;
  line-height: 13pt;

  @media (max-width: 767.98px){

    font-size: 7px;
    line-height: 7pt;
  }
}


.direccion-local-index{

  margin-top: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 13pt;
p{
  background-color:white;
 text-align: center;
  padding:20px;
}}

/* PORTFOLIO */

/*CASAMIENTOS*/

.casamiento-top{

  height: 50vh;
  display: flex;
  justify-content: center;
  background-image: url('../img/Wed/5-full.jpg');
  background-size:cover;
  background-position: center;
  


h1{

  position: absolute;
  font-size:1.5em;
  color: whitesmoke;
  font-weight:300;
  opacity: 0.7; 
  align-self:flex-end;
  letter-spacing: $espacio-letra*2.5;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 20px;

}



@media (max-width: 575.98px) {
 
display: flex;
justify-content: center;
background-image: url('../img/Wed/6.jpeg');
background-size:cover;
background-position: center;
height:25vh;

 
h1{

  position: absolute;
  font-size: 0.9em;
  color: whitesmoke;
  opacity: 0.7;
  align-self: flex-end;
  margin-bottom: 30px;
}



}

}
.gal{
  display:flex;
  flex-direction: column;
  align-items: center;
  a{color: black;}
}

.txt-galeria {

  max-width:75%;
  margin-top: 20px;
  margin-bottom:20px;
  font-size: 0.8em;
  text-align:justify;
  letter-spacing: $espacio-letra*0.8;
  background-color: $fondo-texto;




  @media (max-width: 575.98px){

  margin-top: 20px;
  max-width:100%;
  margin-bottom:20px;
  font-size: 0.8em;
  text-align:justify;
  letter-spacing: $espacio-letra*0.8;
  background-color: $fondo-texto;
  p{ margin-top:10px;}
  }


}




.grid-gallery {
    display: grid;
    grid-auto-rows: $image-size;
    grid-gap: $gap-size ;
    grid-auto-flow: row dense;
    grid-template-columns: repeat($num-columns, 1fr);
    margin-top: 5%;
    background-color: $fondo-texto;
    
    &__item{
        &:nth-child(11n+1)
           { grid-column: span 2;}
        &:nth-child(11n+3)
            { grid-row: span 2;
              } 
        &:nth-child(11n+4)
           { grid-column: span 2;
             grid-row: span 1; }
        &:nth-child(11n+6)
            { grid-column: span 3;
             grid-row: span 1; }
        &:nth-child(11n+7)
           { grid-column: span 1;
             grid-row: span 2;}
        &:nth-child(11n+8)
            { grid-row: span 2;
             grid-column: span 2;}
        &:nth-child(11n+9)
            { grid-row: span 2;
            }}
    &__image
       { width: 100%;
        height: 100%;
        object-fit: cover;}
  }

/* PRENATAL*/



.prenatal-top{

  height: 50vh;
  display: flex;
  justify-content: center;
  background-image: url('../img/Pren/4.jpg');
  background-size:cover;
  background-position: center;
  


h1{

  position: absolute;
  font-size:1.5em;
  color: whitesmoke;
  font-weight:300;
  opacity: 0.7; 
  align-self:flex-end;
  letter-spacing: $espacio-letra*2.5;
  background-color: rgba(0,0,0,0.2);
  margin-bottom: 20px;

}



@media (max-width: 575.98px) {
 
display: flex;
justify-content: center;
background-image: url('../img/Pren/4.jpg');
background-size:cover;
background-position: center;
height:25vh;

 
h1{

  position: absolute;
  font-size: 0.9em;
  color: whitesmoke;
  opacity: 0.7;
  align-self: flex-end;
  margin-bottom: 30px;
}



}

}

/*Tablet*******************************************************/ 


@media (min-width: 576px) and  (max-width: 767.98px)

{




#topbar{
    
       
        min-height: $altoMinNav;
    }

  


.redes { display:none;}
    



.logo{padding:0;
}

.nav{

  &__items{
    width:90%;
    margin-top:5%;
    padding-left:0;
    font-size:0.75em;
  }
}





/*NOSOTROS*/




.nos-txt{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top:2.5rem;
  p{max-width:50%;
    font-size: 0.6em;
    }
    
}

.nosotros-sup{

  height:30vh;
  display:flex;
  align-items:center;
  background-color: whitesmoke;
 

  
}

/* CONTACTO*/


.grid-gallery{
  grid-auto-rows: $image-size*0.4;
  grid-gap: $gap-size*0.3;
  $num-columns: 4;
  grid-template-columns: repeat($num-columns, 2fr);

}
}

/* DESKTOPS ****************************************/

@media (max-width: 1199.98px)

{

  .logo{padding:0;
  }
  
  .nav{
  
    &__items{
     
      
      padding-left:0;
      font-size:0.85em;
    }
  }
  
  


}

/* RESPONSIVE MOBILE XS ************************************/

@media (max-width: 575.98px) {

#topbar{
    display:none;
}

.cuerpoIndex{
    display:none;
  }

.cuerpoIndex-movil{

display:block;
width:100%;
    
}

#topbar-movil{
display:flex;
justify-content:center;
height: $altoNav;
}

.logo{
display:none;

}

.logo-movil{

    display:block;
    transform:scale($logo*0.7);
}


.overlay {
    height: 0%;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgb(255,255,255);
    opacity: 0.9;
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
   
    top: 10vh;
    width: 50%;
    text-align: center;
    
  }

  
  .closebtn {
    position: absolute;
    color: black;
    right: 45px;
    font-size: 1.5em;
    text-decoration:none;
  
  }
  
a:hover{
    color:black;
    text-decoration:none;
}
.boton-movil{

    display:flex;
    align-self: center;
}



.nav-movil {
     
    list-style-type: none;
    display:flex;
    flex-direction:column;
    font-size:1.1em;
    font-weight: light;   
    padding:0;
    text-align:center;
    width: 100vw;
    line-height: 5em;
    }

.redes-movil {

    list-style-type: none; 
    padding:0;
    margin-top:80px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    transform:scale(0.7);
    width: 100vw;
}
  

 .dropdown-item{
    line-height:3;
    font-size:0.7em;
 }

/* CONTACTO*/

.cuerpoContacto{

  display:none;
}

.contactoIzq{

    display:none;
}
.contacto-movil {

  display:flex;
  flex-direction: column;
  justify-content: center;
  
}

.contacto-movilbg {
  position: relative;
  top:20px;
  }

.form-flotante {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
  }
  .form-control{
    font-size: 1rem;
    margin:0;
  }


.img-contacto{
opacity: 1;
}

.direccion-local{
  background-color:$fondo-texto;
  text-align: center;
  letter-spacing: $espacio-letra*0.7;

  p{margin: 10px;}
}

.btn{

  color: black;
  font-size: 0.7em;
}



.botones{
  align-self:center;
}

/* GALERIA*/

.grid-gallery{
  grid-auto-rows: $image-size*0.5;
  grid-gap: $gap-size*0.4;
  $num-columns: 3;
  grid-template-columns: repeat($num-columns, 2fr);

}

/*NOSOTROS*/

.individuales{

  display:none;
}

}


/* FINAL DE MEDIA SMALL



/* IMG MODAL DE GALERIA */


.modalImg {
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 5%;
  
  overflow: hidden;
} 

#modalImg {
  display: block;
  position: fixed;
  max-height:90%;
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);   
}
#modalClose {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
  color: whitesmoke;
  
  
}




/*ANIMACIONES*/


.fade {
    /* nombre duracion timing function delay iteration count direction fill mode*/
    animation: fadeCuerpo 0.7s linear 0s 1 normal forwards;}

@keyframes fadeCuerpo {
    2%{opacity:0.2;}
    100%{opacity:1;}
  }

  .open-modal {
    /* nombre duracion timing function delay iteration count direction fill mode*/
    animation: open-modal-1 0.2s linear 0s 1 normal forwards;}
  @keyframes open-modal-1 {
    from {
        opacity:0
    }
    to {
        opacity:1;
    }
  }







