/*VARIABLES*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1.7pt; }

#topbar {
  height: 130px;
  min-height: 14vh; }

#topbar-movil {
  display: none; }

.logo {
  transform: scale(0.6); }

.overlay {
  height: 0%;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: white;
  opacity: 0.9;
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 10vh;
  width: 50%;
  text-align: center; }

.closebtn {
  position: absolute;
  color: black;
  top: 20px;
  right: 45px;
  font-size: 1.5em;
  text-decoration: none; }
  .closebtn :hover {
    color: black; }

/*Tablet*/
@media (min-width: 576px) and (max-width: 767.98px) {
  #topbar {
    height: 110.5px;
    min-height: 14vh; }
  #topbar-movil {
    display: none; }
  .logo {
    transform: scale(0.48); } }

/* MOBILE LANDSCAPE*/
@media (min-width: 576px) and (max-width: 767.98px) {
  #topbar {
    height: 110.5px;
    min-height: 10.5vh; }
  #topbar-movil {
    display: none; }
  .logo {
    transform: scale(0.42); } }

/* RESPONSIVE MOBILE XS */
@media (max-width: 575.98px) {
  #topbar {
    display: none; }
  #topbar-movil {
    display: flex;
    justify-content: center;
    height: 130px; }
  .logo {
    display: none;
    transform: scale(0.36); }
  .logo-movil {
    display: block;
    transform: scale(0.42); }
  .boton-movil {
    display: flex;
    align-self: center; }
  .cuerpoIndex {
    display: none; }
  .dropdown-item {
    line-height: 3;
    font-size: 0.5em; } }
