/*VARIABLES*/
/* COMIENZO */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1.7pt;
  height: 100%; }

/*404*/
.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .error-page #error-txt {
    margin-top: 70vh;
    position: absolute;
    color: whitesmoke;
    font-size: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); }
    .error-page #error-txt span {
      font-size: 0.7em; }
      .error-page #error-txt span a {
        color: yellow; }
    @media (max-width: 575.98px) {
      .error-page #error-txt {
        margin-top: 50vh; } }

#error-img-m {
  display: none; }

/* BARRA SUPERIOR */
#topbar {
  height: 120px; }

#topbar-movil {
  display: none; }

.logo {
  transform: scale(0.6); }

.nav {
  display: flex;
  align-content: center;
  padding: 0; }
  .nav__items {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 0.85em;
    width: 100%; }

.links-1 {
  text-decoration: none;
  color: black; }
  .links-1:hover {
    color: gray;
    text-decoration: none; }

.redes {
  display: flex;
  padding: 0; }
  .redes__items {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    transform: scale(0.7);
    width: 100%;
    padding: 0; }

.iconos-redes-foot {
  list-style-type: none;
  transform: scale(0.7); }

.icono-1 {
  opacity: 0.6; }
  .icono-1:hover {
    opacity: 1;
    cursor: pointer; }

.dropdown-item {
  font-size: 0.75em;
  letter-spacing: 1.5pt; }
  .dropdown-item:hover {
    letter-spacing: 1.5pt;
    background-color: gray;
    color: white; }
  @media (max-width: 767.98px) {
    .dropdown-item {
      font-size: 0.5em; } }

/* FOOTER*/
#foot {
  position: fixed;
  width: 100%;
  height: 60px;
  bottom: 0;
  background-color: white;
  opacity: 0;
  transition: all 0.8s; }

.footer a {
  font-size: 0.7em; }

.footer ul {
  margin: 0;
  padding: 0; }

.footer .chevron-movil {
  display: none; }

@media (max-width: 575.98px) {
  .footer .chevron {
    display: none; }
  .footer .chevron-movil {
    display: flex; } }

/*INDEX*/
.cuerpoIndex-movil {
  display: none; }

.form-ind {
  background-color: rgba(245, 245, 245, 0.7);
  padding: 30px 0 30px 0; }

.contact-txt-index {
  font-size: 1.1em;
  padding: 60px 0 30px 0; }

.gal-index h2 {
  font-size: 1.1em;
  padding: 50px 0 50px 0; }

.gal-index h3 {
  position: absolute;
  color: rgba(245, 245, 245, 0.493);
  font-weight: 300;
  letter-spacing: 4.25pt;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.2em; }

.gal-index a :hover {
  opacity: 0.7; }

.formulario-index ::placeholder {
  font-size: 0.4rem;
  letter-spacing: 2.21pt;
  color: black; }

/* NOSOTROS*/
.nosotros-index h1 {
  font-size: 1.1em;
  padding: 60px 0 50px 0; }

.nosotros-index .int-index {
  background-color: rgba(245, 245, 245, 0.7);
  display: flex;
  justify-content: center;
  max-height: 50vh;
  padding: 0; }

.nosotros-sup {
  height: 50vh;
  display: flex;
  align-items: center;
  background-color: whitesmoke; }
  @media (max-width: 575.98px) {
    .nosotros-sup {
      height: 40vh; } }

.nosotros-title {
  align-self: center; }
  .nosotros-title h1 {
    font-size: 1.3em;
    text-align: center;
    align-self: center; }

.int-all {
  align-self: center; }

.nos-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem; }
  .nos-txt p {
    max-width: 50%;
    font-size: 0.9em; }
  @media (max-width: 575.98px) {
    .nos-txt p {
      max-width: 90%; } }

.quote {
  margin: 30px 0 30px 0;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  max-width: 50%;
  color: gray;
  letter-spacing: 1.19pt;
  border-left: solid 2px gray;
  background-color: rgba(245, 245, 245, 0.7); }
  .quote p {
    max-width: 80%;
    margin-right: 15px; }
  .quote span {
    font-weight: bold;
    font-style: italic;
    color: black;
    letter-spacing: 1.36pt;
    font-size: 1.3em; }
  @media (max-width: 575.98px) {
    .quote {
      max-width: 90%; }
      .quote span {
        font-size: 1.1em; } }

.nos-bottom {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 50px; }

.img-int {
  max-width: 15%;
  margin: 0 10px 0 10px;
  display: flex;
  flex-direction: column; }
  .img-int p {
    letter-spacing: 1.02pt;
    text-align: center;
    font-size: 0.7em; }
  @media (max-width: 575.98px) {
    .img-int {
      max-width: 25%; } }

/* CONTACTO*/
.contacto-movil {
  display: none; }

.cuerpoContacto {
  height: 100vh;
  width: 100%;
  letter-spacing: 0pt; }

.contactoIzq {
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/back_contacto.jpg");
  background-size: cover; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .formulario ::placeholder {
    font-size: 0.4rem;
    letter-spacing: 2.21pt;
    color: black; }
  @media (max-width: 767.98px) {
    .formulario ::placeholder {
      font-size: 0.2rem; } }
  @media (max-width: 575.98px) {
    .formulario ::placeholder {
      font-size: 0.7rem; } }

.titulo-contacto {
  font-weight: 300;
  text-align: center; }
  .titulo-contacto h3 {
    font-size: 1.2rem;
    font-weight: 300; }
  .titulo-contacto h1 {
    font-size: 1.2rem;
    font-weight: 300; }
  @media (max-width: 767.98px) {
    .titulo-contacto {
      height: 6vh; }
      .titulo-contacto h3 {
        font-size: 0.9rem; }
      .titulo-contacto p {
        font-size: 0.7rem; }
      .titulo-contacto .form-control {
        height: 1.1rem;
        font-size: 0.2em; } }
  @media (max-width: 575.98px) {
    .titulo-contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 12vh;
      background-color: rgba(245, 245, 245, 0.7); }
      .titulo-contacto h1 {
        padding-top: 10px; } }

.form-control {
  border-radius: 0;
  margin: 5px;
  opacity: 0.8; }

.btn {
  border-radius: 0;
  font-weight: 300;
  color: #ced4da;
  font-size: 0.7em; }
  .btn:hover {
    background-color: black;
    border-color: gray; }
  @media (max-width: 767.98px) {
    .btn {
      font-size: 0.3em; } }

.botones {
  display: flex;
  margin-top: 10px;
  justify-content: space-around; }
  @media (max-width: 575.98px) {
    .botones {
      justify-content: space-around; } }

.btn-primary {
  background-color: white;
  border: solid 0.5px black; }

.direccion-local {
  margin-top: 15px;
  font-weight: 300;
  font-size: 12px;
  line-height: 13pt;
  text-align: right;
  background-color: rgba(245, 245, 245, 0.7); }
  @media (max-width: 767.98px) {
    .direccion-local {
      font-size: 7px;
      line-height: 7pt; } }

.direccion-local-index {
  margin-top: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 13pt; }
  .direccion-local-index p {
    background-color: white;
    text-align: center;
    padding: 20px; }

/* PORTFOLIO */
/*CASAMIENTOS*/
.casamiento-top {
  height: 50vh;
  display: flex;
  justify-content: center;
  background-image: url("../img/Wed/5-full.jpg");
  background-size: cover;
  background-position: center; }
  .casamiento-top h1 {
    position: absolute;
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: 300;
    opacity: 0.7;
    align-self: flex-end;
    letter-spacing: 4.25pt;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; }
  @media (max-width: 575.98px) {
    .casamiento-top {
      display: flex;
      justify-content: center;
      background-image: url("../img/Wed/6.jpeg");
      background-size: cover;
      background-position: center;
      height: 25vh; }
      .casamiento-top h1 {
        position: absolute;
        font-size: 0.9em;
        color: whitesmoke;
        opacity: 0.7;
        align-self: flex-end;
        margin-bottom: 30px; } }

.gal {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .gal a {
    color: black; }

.txt-galeria {
  max-width: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8em;
  text-align: justify;
  letter-spacing: 1.36pt;
  background-color: rgba(245, 245, 245, 0.7); }
  @media (max-width: 575.98px) {
    .txt-galeria {
      margin-top: 20px;
      max-width: 100%;
      margin-bottom: 20px;
      font-size: 0.8em;
      text-align: justify;
      letter-spacing: 1.36pt;
      background-color: rgba(245, 245, 245, 0.7); }
      .txt-galeria p {
        margin-top: 10px; } }

.grid-gallery {
  display: grid;
  grid-auto-rows: 250px;
  grid-gap: 0.3rem;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 5%;
  background-color: rgba(245, 245, 245, 0.7); }
  .grid-gallery__item:nth-child(11n+1) {
    grid-column: span 2; }
  .grid-gallery__item:nth-child(11n+3) {
    grid-row: span 2; }
  .grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1; }
  .grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1; }
  .grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2; }
  .grid-gallery__item:nth-child(11n+8) {
    grid-row: span 2;
    grid-column: span 2; }
  .grid-gallery__item:nth-child(11n+9) {
    grid-row: span 2; }
  .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/* PRENATAL*/
.prenatal-top {
  height: 50vh;
  display: flex;
  justify-content: center;
  background-image: url("../img/Pren/4.jpg");
  background-size: cover;
  background-position: center; }
  .prenatal-top h1 {
    position: absolute;
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: 300;
    opacity: 0.7;
    align-self: flex-end;
    letter-spacing: 4.25pt;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; }
  @media (max-width: 575.98px) {
    .prenatal-top {
      display: flex;
      justify-content: center;
      background-image: url("../img/Pren/4.jpg");
      background-size: cover;
      background-position: center;
      height: 25vh; }
      .prenatal-top h1 {
        position: absolute;
        font-size: 0.9em;
        color: whitesmoke;
        opacity: 0.7;
        align-self: flex-end;
        margin-bottom: 30px; } }

/*Tablet*******************************************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  #topbar {
    min-height: 14vh; }
  .redes {
    display: none; }
  .logo {
    padding: 0; }
  .nav__items {
    width: 90%;
    margin-top: 5%;
    padding-left: 0;
    font-size: 0.75em; }
  /*NOSOTROS*/
  .nos-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem; }
    .nos-txt p {
      max-width: 50%;
      font-size: 0.6em; }
  .nosotros-sup {
    height: 30vh;
    display: flex;
    align-items: center;
    background-color: whitesmoke; }
  /* CONTACTO*/
  .grid-gallery {
    grid-auto-rows: 100px;
    grid-gap: 0.09rem;
    grid-template-columns: repeat(4, 2fr); } }

/* DESKTOPS ****************************************/
@media (max-width: 1199.98px) {
  .logo {
    padding: 0; }
  .nav__items {
    padding-left: 0;
    font-size: 0.85em; } }

/* RESPONSIVE MOBILE XS ************************************/
@media (max-width: 575.98px) {
  #topbar {
    display: none; }
  .cuerpoIndex {
    display: none; }
  .cuerpoIndex-movil {
    display: block;
    width: 100%; }
  #error-img {
    display: none; }
  #error-img-m {
    display: block; }
  #topbar-movil {
    display: flex;
    justify-content: center;
    height: 120px; }
  .logo {
    display: none; }
  .logo-movil {
    display: block;
    transform: scale(0.42); }
  .overlay {
    height: 0%;
    width: 100vw;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: white;
    opacity: 0.9;
    overflow-y: hidden;
    transition: 0.5s; }
  .overlay-content {
    position: relative;
    top: 10vh;
    width: 50%;
    text-align: center; }
  .closebtn {
    position: absolute;
    color: black;
    right: 45px;
    font-size: 1.5em;
    text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: none; }
  .boton-movil {
    display: flex;
    align-self: center; }
  .nav-movil {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    font-weight: light;
    padding: 0;
    text-align: center;
    width: 100vw;
    line-height: 5em; }
  .redes-movil {
    list-style-type: none;
    padding: 0;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(0.7);
    width: 100vw; }
  .dropdown-item {
    line-height: 3;
    font-size: 0.7em; }
  /* CONTACTO*/
  .cuerpoContacto {
    display: none; }
  .contactoIzq {
    display: none; }
  .contacto-movil {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contacto-movilbg {
    position: relative;
    top: 20px; }
  .form-flotante {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .form-control {
    font-size: 1rem;
    margin: 0; }
  .img-contacto {
    opacity: 1; }
  .direccion-local {
    background-color: rgba(245, 245, 245, 0.7);
    text-align: center;
    letter-spacing: 1.19pt; }
    .direccion-local p {
      margin: 10px; }
  .btn {
    color: black;
    font-size: 0.7em; }
  /* GALERIA*/
  .grid-gallery {
    grid-auto-rows: 125px;
    grid-gap: 0.12rem;
    grid-template-columns: repeat(3, 2fr); }
  /*NOSOTROS*/
  .individuales {
    display: none; } }

/* FINAL DE MEDIA SMALL



/* IMG MODAL DE GALERIA */
.modalImg {
  cursor: pointer; }
  .modalImg:hover {
    opacity: 0.7; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  padding-top: 5%;
  overflow: hidden; }

#modalImg {
  display: block;
  position: fixed;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#modalClose {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
  color: whitesmoke; }

/*ANIMACIONES*/
.fade {
  /* nombre duracion timing function delay iteration count direction fill mode*/
  animation: fadeCuerpo 0.7s linear 0s 1 normal forwards; }

@keyframes fadeCuerpo {
  2% {
    opacity: 0.2; }
  100% {
    opacity: 1; } }

.open-modal {
  /* nombre duracion timing function delay iteration count direction fill mode*/
  animation: open-modal-1 0.2s linear 0s 1 normal forwards; }

@keyframes open-modal-1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
